:root {
  --grey-1: #eee;
  --grey-8: #444;
  --grey-9: #222;
  --white: #fff;
  --blue: #61dafb;
  --blue-dark: #48abc7;

  --shadow: 0px 10px 9px -5px rgba(0,0,0,0.75);
  --default-font-size: 16px;

  --spacing-1: 5px;
  --spacing-2: 10px;
  --spacing-3: 20px;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

// Main app container
.App {
  font-family: sans-serif;
  color: var(--white);
  background-color: var(--grey-9);

  // Main layout
  height: 100vh;
  display: grid;
  gap: var(--spacing-2);
  padding: var(--spacing-2);
  grid-template-rows: 2fr 3fr;

  // On smaller screens display panel vertically
  @media (min-width: 900px) {
    grid-template-rows: auto;
    grid-template-columns: 2fr 3fr;
  }
}


// Markdown container (Previewer component)
.markdown {
  width: 100%;
  height: 100%;
  padding: 0 var(--spacing-2);

  overflow-y: scroll;
  word-break: break-word;
}

// Textarea style (Editor component)
.textarea {
  width: 100%;
  height: 100%;
  padding: var(--spacing-2);
  
  color: var(--white);
  background-color: var(--grey-8);
  font-size: var(--default-font-size);
  
  outline: none;
  resize: none;
  border: none;
}

// Panel - base component for both Previewer and Editor components
.Panel {
  position: relative;
  background-color: var(--grey-8);
  height: 100%;

  display: grid;
  grid-template-rows: 40px 1fr;

  // Prevent text from overlapping when too much text
  overflow: hidden;

  @media (min-width: 900px) {
    grid-template-rows: 32px 1fr;
  }
}

// Toolbar displayed at the top of Panel component
.Toolbar {
  color: var(--white);
  background-color: var(--grey-1);

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
  z-index: 10;

  .logo {
    margin: 0 var(--spacing-1);
    color: var(--blue);
    font-size: 32px;

    @media (min-width: 900px) {
      font-size: 30px;
    }
  }

  .label {
    color: var(--grey-9);
    font-size: 24px;

    // Nice trick to align it to the left
    margin-right: auto;

    @media (min-width: 900px) {
      font-size: 20px;
    }
  }

  .button {
    border: none;
    outline: none;
    transition: all .3s;
    border: 1px solid transparent;

    &:hover {
      color: var(--white);
      background-color: var(--blue);
      border: 1px solid var(--blue);
    }

    & > svg {
        font-size: 32px;

        @media (min-width: 900px) {
          font-size: 24px;
        }
    }
  }
}